.full {
    height: 100%;
    width: 100%;
}

.header {
    font-size: 2em;
    font-display: flex;
}

table {
    text-align: center !important;
    width: 100%;
}

.mat-header-cell {
    text-align: center;
}

.btn-full {
    width: 100%;
}

.center-gravar {
    transform: translate(-50%, -50%);
}

.content-div {
    transform: translate(-50%, -50%);
}