<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
        <img src="../../../../assets/img/WearOut.svg" width="30" height="30" class="d-inline-block " alt="">
        WearOut | Controle
    </a>
    <span></span>
    <h1>
        <button mat-button>
            <i class="material-icons">shopping_cart</i>
            <i class="material-icons" *ngIf="adicionouCarrrinho">bubble_chart</i>
        </button>
        <button mat-button [matMenuTriggerFor]="userMenu">
            <i class="material-icons">account_circle</i>
        </button>
        <mat-menu #userMenu="matMenu" yPosition="below">
            <!-- <button mat-list-item href="#"><button mat-menu-item>Cadastrar</button></a> -->
            <button mat-menu-item (click)="navigateMenu('Perfil')">Perfil</button>
            <button mat-menu-item (click)="logout()">Sair</button>
        </mat-menu>
    </h1>
</nav>

<div class="container col-6">
    <div *ngFor="let produto of produtos" class="col-1 d-inline-block col-4 mt-2 p-2">
        <mat-card>
            <mat-card-header>
                <!-- <div mat-card-avatar class="example-header-image"></div> -->
                <mat-card-title> > {{produto.name}}   </mat-card-title>
                <mat-card-subtitle>{{produto.codigo}}</mat-card-subtitle>
            </mat-card-header>
            <p>{{produto.dataRetorno}}</p>

            <img mat-card-image src="{{produto.urlImage}}" width="100" height="300" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>{{produto.categoria}}</p>
                <p>{{produto.descricao}}</p>
                <!-- <ng-template ngFor let-produto [ngForOf]="negociacao.produtos" let-i="index">
                    <li>Produto: {{produto.nome}} | Preço: {{produto.valor}}</li>
                </ng-template> -->
            </mat-card-content>
            <h1>R$ {{produto.preco}}</h1>
            <mat-card-actions>
                <button mat-button (click)="addCart()">Adicionar ao carrinho<i class="material-icons">add_shopping_cart</i></button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>