<accordion [isAnimated]="true">
  <accordion-group [isOpen]="isFirstOpen">
    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
      <div class="pull-left float-left header">Cadastrar Fornecedor</div>
    </button>

    <form>
      <div class="row col-12">
        <div class="col-2 ">
          <mat-form-field class="full" appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput (focusout)="CarregaFornecedor($event)"
              onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="1..." name="fornecedorId"
              [(ngModel)]="fornecedor.userId">
            <mat-icon matSuffix>vpn_key</mat-icon>
            <mat-hint>*Digite o numero do cadastro do fornecedor</mat-hint>
          </mat-form-field>
        </div>
        <div class="col-7">
          <mat-form-field class="full" appearance="outline">
            <mat-label>Nome do Fornecedor</mat-label>
            <input matInput placeholder="Antônio..." name="name" [(ngModel)]="fornecedor.fullName">
            <mat-icon matSuffix>sort_by_alpha</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
        <div class="col-3">
          <mat-form-field class="full" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input matInput onkeypress='return event.charCode >= 48 && event.charCode <= 57' (blur)="onBlurMethod()"
              placeholder="(16) 98919-9021" name="phone" [(ngModel)]="fornecedor.phone">
            <mat-icon matSuffix>phone_enabled</mat-icon>
            <mat-hint></mat-hint>
          </mat-form-field>
        </div>
      </div>

      <div class="row col-12 mt-5">
        <div class="col-10">
          <button mat-button class="btn btn-primary btn-full" mat-flat-button color="primary" (click)="salvar()">
            <div class="pull-center float-center header header"> Salvar </div>
          </button>
        </div>
        <div class="col-2">

          <button mat-button class="btn btn-primary btn-full" (click)="limparFornecedor()" mat-flat-button color="primary">

            <div class="pull-center float-center header"><i class="material-icons">clear</i></div>

          </button>
        </div>
      </div>
    </form>
  </accordion-group>

  <accordion-group>
    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
      <div class="pull-left float-left header">Produtos Fornecidos</div>
    </button>
    <div class="row">
      <div class="col-12">
        <table mat-table [dataSource]="dataSourceProd" #mytableProd class="my-table mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- Codigo Column -->
          <ng-container matColumnDef="codigo">
            <th mat-header-cell *matHeaderCellDef> Codigo </th>
            <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
          </ng-container>

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Preço Column -->
          <ng-container matColumnDef="preco">
            <th mat-header-cell *matHeaderCellDef> Preco </th>
            <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
          </ng-container>

          <!-- Categoria Column -->
          <ng-container matColumnDef="categoria">
            <th mat-header-cell *matHeaderCellDef> Categoria </th>
            <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
          </ng-container>

          <!-- Data Column -->
          <ng-container matColumnDef="dtFornecida">
            <th mat-header-cell *matHeaderCellDef> Ultima atualização </th>
            <td mat-cell *matCellDef="let element"> {{element.dataRetorno}} </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsProd"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsProd;"></tr>
        </table>
      </div>
    </div>
  </accordion-group>

  <accordion-group>
    <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
      <div class="pull-left float-left header">Fornecedores Cadastrados</div>
    </button>
    <div class="row">
      <div class="col-12">
        <table mat-table [dataSource]="dataSourceCadastrados" #mytableCad class="my-table mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- Id Column -->
          <ng-container matColumnDef="userId">
            <th mat-header-cell *matHeaderCellDef> Id </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
          </ng-container>

          <!-- FullName Column -->
          <ng-container matColumnDef="fullName">
            <th mat-header-cell *matHeaderCellDef> FullName </th>
            <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
          </ng-container>

          <!-- Preço Column -->
          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef> Telefone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
          </ng-container>

          <!-- Action Column -->
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef> Action </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a (click)="openDialog('Update',element)"><button mat-button><i
                    class="material-icons">edit</i></button></a> |
              <a (click)="openDialog('Desativar',element)"><button mat-button><i
                    class="material-icons">delete_sweep</i></button></a>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumnsCad"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumnsCad;"></tr>
        </table>
      </div>
    </div>

  </accordion-group>
</accordion>