<div class="row">
    <div class="col-12">
        <accordion [isAnimated]="true">
            <accordion-group [isOpen]="isFirstOpen">
                <button class="btn btn-link btn-block clearfix" accordion-heading type="button">
                    <div class="pull-left float-left header">Produtos Ativos e em estoque</div>
                </button>
                <div class="row">
                    <div class="col-12">
                        <table mat-table [dataSource]="dataSource" #mytable class="my-table mat-elevation-z8 full">

                            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

                            <!-- Codigo Column -->
                            <ng-container matColumnDef="codigo">
                                <th mat-header-cell *matHeaderCellDef> Codigo </th>
                                <td mat-cell *matCellDef="let element"> {{element.codigo}} </td>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- Preço Column -->
                            <ng-container matColumnDef="preco">
                                <th mat-header-cell *matHeaderCellDef> Preco </th>
                                <td mat-cell *matCellDef="let element"> {{element.preco}} </td>
                            </ng-container>

                            <!-- Categoria Column -->
                            <ng-container matColumnDef="qtdFornecida">
                                    <th mat-header-cell *matHeaderCellDef> Quantidade em estq. </th>
                                    <td mat-cell *matCellDef="let element"> {{element.qtdFornecida}} </td>
                                </ng-container>

                            <!-- Categoria Column -->
                            <ng-container matColumnDef="categoria">
                                <th mat-header-cell *matHeaderCellDef> Categoria </th>
                                <td mat-cell *matCellDef="let element"> {{element.categoria}} </td>
                            </ng-container>

                            <!-- Data Column -->
                            <ng-container matColumnDef="dtFornecida">
                                <th mat-header-cell *matHeaderCellDef> Ultima atualização </th>
                                <td mat-cell *matCellDef="let element"> {{element.dataRetorno}} </td>
                            </ng-container>

                            <!-- Action Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Ações </th>
                                <td mat-cell *matCellDef="let element" class="action-link">
                                    <a (click)="openDialog('Update',element)"><button mat-button><i
                                                class="material-icons">edit</i></button></a> |
                                    <a (click)="openDialog('Delete',element)"><button mat-button><i
                                                class="material-icons">delete_sweep</i></button></a>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>